*{
    margin: 0;
    padding: 0;
}
.container-fluid{
    display: flex;
    margin-right: 0;
    margin-left: 0;
}
.sidebar{
    background: #015D53;
    color: white;
    height: 100vh;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
}
.top{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}
.logo{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    margin-top: 10px;
}
.bar{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    align-items: center;
}
.link{
    text-decoration: none;
    display: flex;
    color: white;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background: #6ECB5A;
    color: black;
}
.icon, .link_text{
    font-size: 20px;
}
